
/*********************
GENERAL
*********************/

* {
    box-sizing: border-box;
}

body {
    padding: 5px;
    font-family: "Helvetiva Neue", Helvetiva, Arial, sans-serif;
    font-size: small;
}

#wrapper {
    max-width: 100%;
    margin: 3em auto 10em;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 1.1em;
    color: #404
}

a:hover {
    text-decoration: underline
}

li{display: inline-block;}


/*********************
NAVIGATION
*********************/

nav {
    text-align: right;
}

nav li{
    display: inline-block;
    padding: 0 1em 0;
    /*** vertical-align responds to middle but not center values **/   
    vertical-align: middle;
}

/*********************
LOGO
*********************/

#logo {
    max-width: 30%;
    margin: 2.5%;
}



/*********************
SEARCH BOX
*********************/

#search {
    text-align: center;
        margin: 1em
}


#search-bar {
    
   max-width: 600px;
    min-width: 300px;
    height: 2em;
    
}

#search-btn, #flg-lcky {
    height: 2.2em;
    display: inline-block;
    margin: 1em auto;
}

#search-btn {
    margin-right: 1em;
}

/*********************
SEARCH BUTTONS STYLING
*********************/

#search-btn, #flg-lcky {

}

/*********************
        FOOTER
*********************/

/** i did bottom:0 AND left:0 and that fixed the weird thing that activated a scrollbar... **/
footer {
    min-width: 100%;
    bottom: 0;
    left: 0;
    line-height: 3em;
    position: absolute;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    
}

footer a {
}

footer ul {

}

.footer-left {
    float: left;
    
   margin: auto 0 auto 70px;
    
}

.footer-right {
    float: right;
  
    
    margin: auto 70px auto 0
}

footer li{
    padding: 0 10px 0 10px;
}

/*********************
  FOOTER STYLING
*********************/




